@page
@model Kardelen_DBase.Pages.Employee.EditModel
@{
}

<br />
<h2>Edit Employee Data</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" date-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="e_id" id="e_id" value="@Model.employee.e_id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Reference</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="hasReference" id="hasReference" value="@Model.employee.hasReference">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="firstName" id="firstName" value="@Model.employee.firstName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lastName" id="lastName" value="@Model.employee.lastName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Age</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="age" id="age" value="@Model.employee.age">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Salary</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="salary" id="salary" value="@Model.employee.salary">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Marital Status</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="maritalStatus" id="maritalStatus" value="@Model.employee.maritalStatus">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Experience</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="experience" id="experience" value="@Model.employee.experience">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Start Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="startDate" id="startDate" value="@Model.employee.startDate">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Employee/Index" role="button">Cancel</a>
        </div>
    </div>
</form>