@page
@model Kardelen_DBase.Pages.Customer.EditModel
@{
}

<br />
<h2>Edit Customer Data</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" date-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="c_id" id="c_id" value="@Model.customer.c_id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Has Reference</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="hasReference" id="hasReference" value="@Model.customer.hasReference">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="firstName" id="firstName" value="@Model.customer.firstName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lastName" id="lastName" value="@Model.customer.lastName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Contact Info</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="contactNumber" id="contactNumber" value="@Model.customer.contactNumber">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" id="address" value="@Model.customer.address">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Customer/Index" role="button">Cancel</a>
        </div>
    </div>
</form>